*.class
*.log
*.lock

# Package Files #
*.jar
*.war
*.ear

# idea
.idea/
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings/
bin/

*velocity.log*

### STS ###
.apt_generated
.factorypath
.springBeans

*.log
tmp/

# rebel
*rebel.xml*

# vscode
.vscode/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.settings
.sts4-cache


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


### Vue ###
.DS_Store
node_modules
/dist
package-lock.json
# local .env files
.env.local
.env.*.local
.env
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
