<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rs.dao.DepartmentMapper">

    <resultMap id="departmentResultMap" type="department">
        <result property="bno" column="F_bno"/>
        <result property="bname" column="F_bname"/>
        <result property="fuzeren" column="F_fuzeren"/>
    </resultMap>

    <insert id="addDepartment">
        insert into t_department(F_bno, F_bname, F_fuzeren)
        values (#{bno}, #{bname}, #{fuzeren})
    </insert>

    <select id="queryDepartment" resultMap="departmentResultMap">
            select  * from t_department
        </select>

<!--        <insert id="addDepartment" parameterType="Department">-->
<!--            insert into t_department(F_bno, F_bname,F_fuzeren) values(#{bno}, #{bname}, #{fuzeren})-->
<!--        </insert>-->

        <update id="updateDepartment" parameterType="Department">
            update t_department set F_bno = #{bno}, F_bname = #{bname}, F_fuzeren = #{fuzeren} where F_bno = #{bnos}
        </update>

        <delete id="deleteDepartment" parameterType="Department">
            delete from t_department where F_bno = #{bno}
        </delete>
</mapper>