<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rs.dao.EmployeeMapper">

    <resultMap id="employeeResultMap" type="employee">
        <result property="yno" column="F_yno"/>
        <result property="bno" column="F_bno"/>
        <result property="id" column="F_id"/>
        <result property="name" column="F_yname"/>
        <result property="sex" column="F_sex"/>
        <result property="gangWei" column="F_gangwei"/>
        <result property="zhiCheng" column="F_zhicheng"/>
        <result property="workDate" column="F_canjiagongzuoshijian"/>
    </resultMap>

    <select id="queryEmployee" resultMap="employeeResultMap">
        SELECT t_yuangong.F_yno,
               t_department.F_bname,
               t_yuangong.F_id,
               t_yuangong.F_yname,
               t_yuangong.F_sex,
               t_yuangong.F_gangwei,
               t_yuangong.F_zhicheng,
               t_yuangong.F_canjiagongzuoshijian
        FROM t_yuangong
                 JOIN t_department ON t_yuangong.F_bno = t_department.F_bno;
    </select>

    <insert id="addEmployee" parameterType="Employee">
        insert into rsglxt.t_yuangong(t_yuangong.F_yno, t_yuangong.F_bno, t_yuangong.F_id, t_yuangong.F_yname, t_yuangong.F_sex, t_yuangong.F_gangwei, t_yuangong.F_zhicheng, t_yuangong.F_canjiagongzuoshijian) values (#{yno},#{bno},#{id},#{name},#{sex},#{gangWei},#{zhiCheng},#{workDate})
    </insert>


    <update id="updateEmployee" parameterType="Employee">
        update rsglxt.t_yuangong set t_yuangong.F_yno=#{yno},F_bno=#{bno},F_id=#{id},F_yname=#{name},F_sex=#{sex},F_gangwei=#{gangWei},F_zhicheng=#{zhiCheng},F_canjiagongzuoshijian=#{workDate} where t_yuangong.F_yno=#{ynos}
    </update>

    <delete id="deleteEmployee" parameterType="Employee">
        delete from rsglxt.t_yuangong where t_yuangong.F_yno=#{yno}
    </delete>

    <select id="searchXue" resultMap="employeeResultMap">
        SELECT t_yuangong.F_yno,
               t_department.F_bname,
               t_yuangong.F_id,
               t_yuangong.F_yname,
               t_yuangong.F_sex,
               t_yuangong.F_gangwei,
               t_yuangong.F_zhicheng,
               t_yuangong.F_canjiagongzuoshijian
        FROM rsglxt.t_yuangong
                 JOIN rsglxt.t_xueli ON t_yuangong.F_yno = t_xueli.F_yno
                 JOIN t_department ON t_yuangong.F_bno = t_department.F_bno
        WHERE t_xueli.F_xueli = #{xueli}
    </select>

    <select id="searchHun" resultMap="employeeResultMap">
        SELECT t_yuangong.F_yno,
               t_department.F_bname,
               t_yuangong.F_id,
               t_yuangong.F_yname,
               t_yuangong.F_sex,
               t_yuangong.F_gangwei,
               t_yuangong.F_zhicheng,
               t_yuangong.F_canjiagongzuoshijian
        FROM rsglxt.t_yuangong
                 JOIN rsglxt.t_hunyin ON t_yuangong.F_yno = t_hunyin.F_yno
                 JOIN t_department ON t_yuangong.F_bno = t_department.F_bno
        WHERE t_hunyin.F_hunyinzhuangkuang = #{hunyin}
    </select>
    <select id="searchGang" resultMap="employeeResultMap">
        SELECT t_yuangong.F_yno,
               t_department.F_bname,
               t_yuangong.F_id,
               t_yuangong.F_yname,
               t_yuangong.F_sex,
               t_yuangong.F_gangwei,
               t_yuangong.F_zhicheng,
               t_yuangong.F_canjiagongzuoshijian
        FROM rsglxt.t_yuangong
                 JOIN t_department ON t_yuangong.F_bno = t_department.F_bno
        WHERE t_yuangong.F_gangwei = #{gangwei}
    </select>

    <select id="selectById" resultMap="employeeResultMap">
        select * from rsglxt.t_yuangong where t_yuangong.F_yno=#{yno}
    </select>

</mapper>