<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rs.dao.HunyinMapper">

    <resultMap id="hunyinResultMap" type="hunyin">
        <result property="yno" column="F_yno"/>
        <result property="status" column="F_hunyinzhuangkuang"/>
        <result property="wife" column="F_airenname"/>
        <result property="memoryDate" column="F_jiehunshijian"/>
        <result property="kids" column="F_kids"/>
        <result property="wifeWork" column="F_airenzhiye"/>
    </resultMap>

        <select id="queryHunyin" resultMap="hunyinResultMap">
            select  * from rsglxt.t_hunyin where t_hunyin.F_yno = #{yno}
        </select>

    <update id="updateHunyin" parameterType="hunyin">
        update rsglxt.t_hunyin set
        F_hunyinzhuangkuang = #{status},
        F_airenname = #{wife},
        F_jiehunshijian = #{memoryDate},
        F_kids = #{kids},
        F_airenzhiye = #{wifeWork}
        where F_yno = #{yno}
    </update>
</mapper>