<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rs.dao.TransferMapper">

    <resultMap id="transferResultMap" type="transfer">
        <result property="dno" column="F_dno"/>
        <result property="yno" column="F_yno"/>
        <result property="bno" column="F_bno"/>
        <result property="yuangangWei" column="F_yuangangwei"/>
        <result property="gangWei" column="F_diaodonggangwei"/>
        <result property="reason" column="F_diaodongyuanyin"/>
        <result property="transferDate" column="F_diaodongshijian"/>
    </resultMap>
    <select id="queryTransfer" resultMap="transferResultMap">
        SELECT t_renyuandiaodong.F_dno,
               t_renyuandiaodong.F_yno,
               t_yuangong.F_yname,
               t_department.F_bname,
               t_renyuandiaodong.F_yuangangwei,
               t_renyuandiaodong.F_diaodonggangwei,
               t_renyuandiaodong.F_diaodongyuanyin,
               t_renyuandiaodong.F_diaodongshijian
        FROM rsglxt.t_renyuandiaodong
                 JOIN t_department ON t_renyuandiaodong.F_bno = t_department.F_bno
                 JOIN t_yuangong ON t_renyuandiaodong.F_yno = t_yuangong.F_yno;
    </select>

    <insert id="insertTransfer" parameterType="transfer">
        INSERT INTO t_renyuandiaodong (F_dno, F_yno, F_bno, F_yuangangwei, F_diaodonggangwei, F_diaodongyuanyin, F_diaodongshijian)
        VALUES (#{dno}, #{yno}, #{bno}, #{yuangangWei}, #{gangWei}, #{reason}, #{transferDate});
    </insert>

    <update id="updateTransfer" parameterType="transfer">
        UPDATE t_renyuandiaodong
        SET F_dno = #{dno},
            F_yno = #{yno},
            F_bno = #{bno},
            F_yuangangwei = #{yuangangWei},
            F_diaodonggangwei = #{gangWei},
            F_diaodongyuanyin = #{reason},
            F_diaodongshijian = #{transferDate}
        WHERE F_dno = #{dnos};
    </update>

    <delete id="deleteTransfer" parameterType="transfer">
        DELETE
        FROM t_renyuandiaodong
        WHERE F_dno = #{dno};
    </delete>

</mapper>