<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rs.dao.XueliMapper">

    <resultMap id="xueliResultMap" type="xueli">
        <result property="yno" column="F_yno"/>
        <result property="school" column="F_school"/>
        <result property="language" column="F_waiyuqingkuang"/>
        <result property="graduateDate" column="F_biyeshijian"/>
        <result property="xueLi" column="F_xueli"/>
        <result property="major" column="F_zhuanye"/>
    </resultMap>

    <select id="queryXueli" resultMap="xueliResultMap">
        select *
        from rsglxt.t_xueli
        where t_xueli.F_yno = #{yno}
    </select>

    <update id="updateXueli" parameterType="xueli">
        update rsglxt.t_xueli
        set F_school = #{school},
            F_waiyuqingkuang = #{language},
            F_biyeshijian = #{graduateDate},
            F_xueli = #{xueLi},
            F_zhuanye = #{major}
        where F_yno = #{yno}
    </update>
</mapper>