<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--css代码-->
<div th:fragment="css">
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!-- Typography CSS -->
    <link rel="stylesheet" th:href="@{css/typography.css}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{css/responsive.css}">
</div>

<!--顶部导航栏-->

<!-- TOP Nav Bar -->
<div class="iq-top-navbar" th:fragment="topnavbar">
    <div class="iq-navbar-custom">
        <div class="iq-sidebar-logo">
            <div class="top-logo">
                <a th:href="@{index.html}" class="logo">
                    <img th:src="@{images/logo.gif}" class="img-fluid" alt="">
                    <span>vito</span>
                </a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="navbar-left">
                <ul id="topbar-data-icon" class="d-flex p-0 topbar-menu-icon">
                    <li class="nav-item">
                        <a th:href="@{index.html}" class="nav-link font-weight-bold search-box-toggle"><i class="ri-home-4-line"></i></a>
                    </li>
                    <li><a href="chat.html" class="nav-link"><i class="ri-message-line"></i></a></li>
                    <li><a href="e-commerce-product-list.html" class="nav-link"><i class="ri-file-list-line"></i></a></li>
                    <li><a href="profile.html" class="nav-link"><i class="ri-question-answer-line"></i></a></li>
                    <li><a href="todo.html" class="nav-link router-link-exact-active router-link-active"><i class="ri-chat-check-line"></i></a></li>
                    <li><a href="app/index.html" class="nav-link"><i class="ri-inbox-line"></i></a></li>
                </ul>
                <div class="iq-search-bar">
                    <form action="#" class="searchbox">
                        <input type="text" class="text search-input" placeholder="搜索...">
                        <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                        <div class="searchbox-datalink">
                            <h6 class="pl-3 pt-3">界面</h6>
                            <ul class="m-0 pl-3 pr-3 pb-3">
                                <li class="iq-bg-primary-hover rounded"><a th:href="@{index.html}" class="nav-link router-link-exact-active router-link-active pr-2"><i class="ri-home-4-line pr-2"></i>首页</a></li>
                                <li class="iq-bg-primary-hover rounded"><a th:href="@{importPictures}" class="nav-link router-link-exact-active router-link-active pr-2"><i class="ri-home-3-line pr-2"></i>导入医疗图片</a></li>
                                <li class="iq-bg-primary-hover rounded"><a th:href="@{historicalAnalysis.html}" class="nav-link"><i class="ri-message-line pr-2"></i>历史分析</a></li>
                                <li class="iq-bg-primary-hover rounded"><a th:href="@{processResult.html}" class="nav-link"><i class="ri-calendar-2-line pr-2"></i>处理结果集合</a></li>
                                <li class="iq-bg-primary-hover rounded"><a th:href="@{viewResult.html}" class="nav-link"><i class="ri-profile-line pr-2"></i>查看处理结果</a></li>
                                <li class="iq-bg-primary-hover rounded"><a th:href="@{todo.html}" class="nav-link"><i class="ri-chat-check-line pr-2"></i>待办日程</a></li>
                                <li class="iq-bg-primary-hover rounded"><a th:href="@{checkCalendar.html}" class="nav-link"><i class="ri-mail-line pr-2"></i>查看日历</a></li>
                                <li class="iq-bg-primary-hover rounded"><a th:href="@{medicalConference.html}" class="nav-link"><i class="ri-message-line pr-2"></i>医疗会议</a></li>
                                <li class="iq-bg-primary-hover rounded"><a th:href="@{otherRequests.html}" class="nav-link"><i class="ri-file-list-line pr-2"></i>其他请求</a></li>
                                <li class="iq-bg-primary-hover rounded"><a th:href="@{checkRegistration.html}" class="nav-link"><i class="ri-compasses-line pr-2"></i>查看挂号</a></li>
                                <li class="iq-bg-primary-hover rounded"><a th:href="@{processRecord.html}" class="nav-link"><i class="ri-clockwise-line pr-2"></i>处理记录</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                <i class="ri-menu-3-line"></i>
            </button>
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                    <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-list">
                </ul>
            </div>
            <ul class="navbar-list">
                <li>
                    <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center bg-primary rounded">
                        <img th:src="@{images/user/1.jpg}" class="img-fluid rounded mr-3" alt="user">
                        <div class="caption">
                            <h6 class="mb-0 line-height text-white">你好</h6>
                        </div>
                    </a>
                    <div class="iq-sub-dropdown iq-user-dropdown">
                        <div class="iq-card shadow-none m-0">
                            <div class="iq-card-body p-0 ">
                                <div class="bg-primary p-3">
                                    <h5 class="mb-0 text-white line-height">你好</h5>
                                </div>
                                <div class="d-inline-block w-100 text-center p-3">
                                    <a class="bg-primary iq-sign-btn" th:href="@{/login}" role="button">登出<i class="ri-login-box-line ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- TOP Nav Bar END -->

<!--侧边栏-->

<!-- Sidebar  -->
<div class="iq-sidebar" th:fragment="sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a th:href="@{index.html}">
            <img th:src="@{images/logo.gif}" class="img-fluid" alt="">
            <span>人事管理</span>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                    <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>相关信息</span></li>
                <li th:class="${active1=='de'?'active':''}">
                    <a href="#userinfo" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-user-line"></i><span>信息展示</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li th:class="${active2=='department.html'?'active':''}"><a th:href="@{department}"><i class="ri-profile-line"></i>部门信息</a></li>
                        <li  th:class="${active2=='employee.html'?'active':''}"><a th:href="@{employee}"><i class="ri-file-edit-line"></i>员工信息</a></li>
                    </ul>
                </li>
                <li th:class="${active1=='se'?'active':''}">
                    <a href="#mailbox" class="iq-waves-effect collapsed"  data-toggle="collapse" aria-expanded="false"><i class="ri-mail-line"></i><span>信息操作</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="mailbox" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li th:class="${active2=='search.html'?'active':''}"><a th:href="@{search}"><i class="ri-inbox-line"></i>员工搜索</a></li>
                        <li th:class="${active2=='diaodong.html'?'active':''}"><a th:href="@{transfer}"><i class="ri-edit-line"></i>人员调动</a></li>
                    </ul>
                </li>
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>其他操作</span></li>
<!--                <li>-->
<!--                    <a href="#ui-elements" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pencil-ruler-line"></i><span>账户管理</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>-->
<!--                    <ul id="ui-elements" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">-->
<!--                        <li><a th:href="@{viewUser}"><i class="ri-font-color"></i>查看用户</a></li>-->
<!--                        <li><a th:href="@{changeUser}"><i class="ri-text"></i>修改密码</a></li>-->
<!--                        <li><a th:href="@{admin}"><i class="ri-alert-line"></i>管理员操作</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>
        </nav>
        <div class="p-3"></div>
    </div>
</div>
<!-- Sidebar END -->

<!--底边栏-->
<!-- Footer -->
<footer class="bg-white iq-footer" th:fragment="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="privacy-policy.html">隐私政策</a></li>
                    <li class="list-inline-item"><a href="terms-of-service.html">使用条款</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                Copyright 2023 <a href="#">三刘一陈</a> All Rights By <a href="http://www.bootstrapmb.com/">bootstrapmb</a>.
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->

<!--js代码-->
<div th:fragment="js">
    <script th:src="@{js/vue.js}"></script>
    <script th:src="@{js/axios.js}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <!-- Appear JavaScript -->
    <script th:src="@{js/jquery.appear.js}"></script>
    <!-- Countdown JavaScript -->
    <script th:src="@{js/countdown.min.js}"></script>
    <!-- Counterup JavaScript -->
    <script th:src="@{js/waypoints.min.js}"></script>
    <script th:src="@{js/jquery.counterup.min.js}"></script>
    <!-- Wow JavaScript -->
    <script th:src="@{js/wow.min.js}"></script>
    <!-- Apexcharts JavaScript -->
    <script th:src="@{js/apexcharts.js}"></script>
    <!-- Slick JavaScript -->
    <script th:src="@{js/slick.min.js}"></script>
    <!-- Select2 JavaScript -->
    <script th:src="@{js/select2.min.js}"></script>
    <!-- Owl Carousel JavaScript -->
    <script th:src="@{js/owl.carousel.min.js}"></script>
    <!-- Magnific Popup JavaScript -->
    <script th:src="@{js/jquery.magnific-popup.min.js}"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script th:src="@{js/smooth-scrollbar.js}"></script>
    <!-- lottie JavaScript -->
    <script th:src="@{js/lottie.js}"></script>
    <!-- Chart Custom JavaScript -->
    <script th:src="@{js/chart-custom.js}"></script>
    <!-- Custom JavaScript -->
    <script th:src="@{js/custom.js}"></script>
</div>

</body>
</html>