<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>个人详细信息</title>


    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!-- Typography CSS -->
    <link rel="stylesheet" th:href="@{css/typography.css}">
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{css/responsive.css}">
</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div class="iq-sidebar" th:fragment="sidebar">
        <div class="iq-sidebar-logo d-flex justify-content-between">
            <a th:href="@{index.html}">
                <img th:src="@{images/logo.gif}" class="img-fluid" alt="">
                <span>人事管理</span>
            </a>
            <div class="iq-menu-bt-sidebar">
                <div class="iq-menu-bt align-self-center">
                    <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                        <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">

                    <li>
                        <a href="#mailbox" class="iq-waves-effect collapsed"  data-toggle="collapse" aria-expanded="false"><i class="ri-mail-line"></i><span>个人信息</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    </li>
                </ul>
            </nav>
            <div class="p-3"></div>
        </div>
    </div>
    <!-- TOP Nav Bar -->
    <div th:replace="~{commons/commons::topnavbar}"></div>
    <!-- Responsive Breadcrumb End-->
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid" id="hunyin">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                            <div class="profile-header">
                                <div class="cover-container">
                                    <img src="images/page-img/profile-bg.jpg" alt="profile-bg"
                                         class="rounded img-fluid">
                                    <div class="bootstrap-modal">
                                        <ul class="header-nav d-flex flex-wrap justify-end p-0 m-0">
                                            <li><a data-toggle="modal" data-target="#basicModal" title=""
                                                   data-original-title="修改婚姻信息"><i class="ri-pencil-line"></i></a>
                                            </li>
                                            <div class="modal fade col-lg-12" id="basicModal">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">修改婚姻信息</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"><span>&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <section>
                                                                <div>
                                                                    <form>
                                                                        <div class=" row align-items-center">
                                                                            <div class="form-group col-sm-6">
                                                                                <label for="fname">婚姻状况:</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       id="fname"
                                                                                       value="已婚" v-model="hy.status">
                                                                            </div>
                                                                            <div class="form-group col-sm-6">
                                                                                <label for="lname">配偶名字:</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       id="lname"
                                                                                       value="李白" v-model="hy.wife">
                                                                            </div>
                                                                            <div class="form-group col-sm-6">
                                                                                <label for="uname">配偶工作:</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       id="uname"
                                                                                       value="高级设计师" v-model="hy.wifeWork">
                                                                            </div>
                                                                            <div class="form-group col-sm-6">
                                                                                <label for="cname">是否有孩子:</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       id="cname"
                                                                                       value="是" v-model="hy.kids">
                                                                            </div>
                                                                            <div class="form-group col-sm-6">
                                                                                <label for="dob">结婚时间:</label>
                                                                                <input class="form-control"
                                                                                       id="dob"
                                                                                       value="1984-01-24" v-model="hy.memoryDate">
                                                                            </div>
                                                                        </div>

                                                                    </form>
                                                                </div>
                                                            </section>
                                                        </div>
                                                        <div class="modal-footer" v-for="(item,index) in xueli" :key="index">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">关闭
                                                            </button>
                                                            <button type="button" class="btn btn-primary" @click="updateHunyin(item.yno)">保存
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <li><a data-toggle="modal" data-target="#updateModal" title=""
                                                   data-original-title="修改学历信息"><i class="ri-settings-4-line"></i></a>
                                            </li>
                                            <div class="modal fade col-lg-12" id="updateModal">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">修改学历信息</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"><span>&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <section>
                                                                <div>
                                                                    <form>
                                                                        <div class=" row align-items-center">
                                                                            <div class="form-group col-sm-6">
                                                                                <label for="qname">毕业学校:</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       id="qname"
                                                                                       value="清华" v-model="xl.school">
                                                                            </div>
                                                                            <div class="form-group col-sm-6">
                                                                                <label for="pname">外语水平:</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       id="pname"
                                                                                       value="八级" v-model="xl.language">
                                                                            </div>
                                                                            <div class="form-group col-sm-6">
                                                                                <label for="db">毕业时间:</label>
                                                                                <input class="form-control"
                                                                                       id="db"
                                                                                       value="1984-01-24" v-model="xl.graduateDate">
                                                                            </div>
                                                                            <div class="form-group col-sm-6">
                                                                                <label for="vame">学历:</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       id="vame"
                                                                                       value="硕士" v-model="xl.xueLi">
                                                                            </div>
                                                                            <div class="form-group col-sm-6">
                                                                                <label for="xame">专业:</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       id="xame"
                                                                                       value="考古" v-model="xl.major">
                                                                            </div>

                                                                        </div>

                                                                    </form>
                                                                </div>
                                                            </section>
                                                        </div>
                                                        <div class="modal-footer" v-for="(item,index) in xueli" :key="index">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">关闭
                                                            </button>
                                                            <button type="button" class="btn btn-primary" @click="updateXueli(item.yno)">保存
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="profile-info p-4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="user-detail pl-5">
                                                <div class="d-flex flex-wrap align-items-center">
                                                    <div class="profile-img pr-4">
                                                        <img src="images/user/11.png" alt="profile-img"
                                                             class="avatar-130 img-fluid"/>
                                                    </div>
                                                    <div class="profile-detail d-flex align-items-center"  v-for="(item1,index) in employee" :key="index">
                                                        <h3>{{item1.name}}</h3>
                                                        <p class="m-0 pl-3">{{item1.zhiCheng}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <ul class="nav nav-pills d-flex align-items-end float-right profile-feed-items p-0 m-0">
                                                <li>
                                                    <a class="nav-link" data-toggle="pill"
                                                       href="#profile-activity" @click="getHunyin()">婚姻状况</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" data-toggle="pill"
                                                       href="#profile-friends" @click="getXueli()">学历信息</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 profile-center">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="profile-activity" role="tabpanel">
                                    <div class="iq-card">
                                        <div class="iq-card-header d-flex justify-content-between">
                                            <div class="iq-header-title">
                                                <h4 class="card-title">婚姻状况</h4>
                                            </div>
                                        </div>
                                        <div class="iq-card-body">
                                            <ul class="iq-timeline" v-for="(item,index) in xueli" :key="index">
                                                <li>
                                                    <div class="timeline-dots"></div>
                                                    <h6 class="float-left mb-1">婚姻状况</h6>
                                                    <div class="d-inline-block w-100">
                                                        <p>{{item.status}}</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-dots border-success"></div>
                                                    <h6 class="float-left mb-1">配偶名字</h6>
                                                    <div class="d-inline-block w-100">
                                                        <p>{{item.wife}}</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-dots border-danger"></div>
                                                    <h6 class="float-left mb-1">配偶工作</h6>
                                                    <div class="d-inline-block w-100">
                                                        <p>{{item.wifeWork}}</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-dots border-primary"></div>
                                                    <h6 class="float-left mb-1">是否有孩子</h6>
                                                    <div class="d-inline-block w-100">
                                                        <p>{{item.kids}}</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-dots border-warning"></div>
                                                    <h6 class="float-left mb-1">结婚日期</h6>
                                                    <div class="d-inline-block w-100">
                                                        <p>{{item.memoryDate}}</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile-friends" role="tabpanel">
                                    <div class="iq-card">
                                        <div class="iq-card">
                                            <div class="iq-card-header d-flex justify-content-between">
                                                <div class="iq-header-title">
                                                    <h4 class="card-title">学历信息</h4>
                                                </div>
                                            </div>
                                            <div class="iq-card-body" v-for="(item,index) in xueli" :key="index">
                                                <div class="mt-2">
                                                    <h6>毕业学校：</h6>
                                                    <p>{{item.school}}</p>
                                                </div>
                                                <div class="mt-2">
                                                    <h6>外语水平：</h6>
                                                    <p>{{item.language}}</p>
                                                </div>
                                                <div class="mt-2">
                                                    <h6>毕业时间：</h6>
                                                    <p>{{item.graduateDate}}</p>
                                                </div>
                                                <div class="mt-2">
                                                    <h6>学历：</h6>
                                                    <p>{{item.xueLi}}</p>
                                                </div>
                                                <div class="mt-2">
                                                    <h6>专业：</h6>
                                                    <p>{{item.major}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<div th:replace="~{commons/commons::footer}"></div>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<div th:replace="~{commons/commons::js}"></div>

<script>

    new Vue({
        el: "#hunyin",
        mounted() {

            const urlParams = new URLSearchParams(window.location.search);
            this.hunyin.yno = urlParams.get('yno');
            this.getHunyin();
            this.selectEmployee();
        },
        data() {
            return {
                employee:{
                    yno:'',
                    name:'',
                    zhiCheng:'',
                },
                hy: {
                    yno:'',
                    status: '',
                    wife: '',
                    wifeWork: '',
                    kids: '',
                    memoryDate: '',
                },
                xl: {
                    yno:'',
                    school: '',
                    language: '',
                    graduateDate: '',
                    xueLi: '',
                    major: '',
                },
                hunyin: {
                    yno:'',
                    status: '',
                    wife: '',
                    wifeWork: '',
                    kids: '',
                    memoryDate: '',
                    school: '',
                    language: '',
                    graduateDate: '',
                    xueLi: '',
                    major: '',
                },
                xueli: {
                    yno:'',
                    status: '',
                    wife: '',
                    wifeWork: '',
                    kids: '',
                    memoryDate: '',
                    school: '',
                    language: '',
                    graduateDate: '',
                    xueLi: '',
                    major: '',
                }
            }
        },
        methods: {
            getHunyin() {
                this.xueli.yno=this.hunyin.yno;
                axios({
                    method: "get",
                    url: "http://localhost:8080/hunyin/query?yno="+this.xueli.yno,
                }).then(resp => {
                    console.log(resp.data);
                    this.xueli = resp.data;
                })
            },
            getXueli() {
                this.xueli.yno=this.hunyin.yno;
                axios({
                    method: "get",
                    url: "http://localhost:8080/xueli/query?yno="+this.xueli.yno ,
                }).then(resp => {
                    console.log(resp.data);
                    this.xueli = resp.data;
                })
            },
            updateHunyin(yno) {
                this.hy.yno = yno;
                axios({
                    method: "post",
                    url: "http://localhost:8080/hunyin/update",
                    data: this.hy
                }).then(resp => {
                    console.log(resp.data);
                    if (resp.data === "success") {
                        alert("修改成功");
                        this.getHunyin();
                    } else {
                        alert("修改失败");
                    }

                })
            },
            updateXueli(yno){
                this.xl.yno = yno;
                axios({
                    method: "post",
                    url: "http://localhost:8080/xueli/update",
                    data: this.xl
                }).then(resp => {
                    console.log(resp.data);
                    if (resp.data === "success") {
                        alert("修改成功");
                        this.getXueli();
                    } else {
                        alert("修改失败");
                    }

                })
            },
            selectEmployee() {
                this.employee.yno=this.hunyin.yno;
                axios({
                    method: "get",
                    url: "http://localhost:8080/employee/selectById?yno="+this.employee.yno,
                }).then(resp => {
                    console.log(resp.data);
                    this.employee = resp.data;
                })
            }
        }
    })
</script>
</body>
</html>