<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>历史分析</title>


  <!-- Favicon -->
  <link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <!-- Typography CSS -->
  <link rel="stylesheet" th:href="@{css/typography.css}">
  <!-- Style CSS -->
  <link rel="stylesheet" th:href="@{css/style.css}">
  <!-- Responsive CSS -->
  <link rel="stylesheet" th:href="@{css/responsive.css}">
</head>
<body>
<!-- loader Start -->
<div id="loading">
  <div id="loading-center">
  </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
  <!-- Sidebar  -->
  <div th:replace="~{commons/commons::sidebar(active1='se',active2='search.html')}"></div>
  <!-- TOP Nav Bar -->
  <div th:replace="~{commons/commons::topnavbar}"></div>
  <!-- TOP Nav Bar END -->
  <!-- Responsive Breadcrumb End-->
  <!-- Page Content  -->
  <div id="content-page" class="content-page">
    <div class="container-fluid" id="employ">
      <div class="row">
        <div class="col-sm-12">
          <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
              <div class="iq-header-title">
                <h4 class="card-title">搜索列表</h4>
              </div>
            </div>
            <div class="iq-card-body">
              <div class="table-responsive">
                <div class="row justify-content-between">
                  <div class="col-sm-4 col-md-4">
                    <div id="user_list_datatable_info1" class="dataTables_filter">
                      <form class="mr-3 position-relative"  @submit.prevent="searchXue">
                        <div class="form-group mb-0">
                          <input type="search" class="form-control" id="exampleInputSearch1" placeholder="学历" v-model="search.xue"  aria-controls="user-list-table">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div id="user_list_datatable_info2" class="dataTables_filter">
                      <form class="mr-3 position-relative" @submit.prevent="searchHun">
                        <div class="form-group mb-0">
                          <input type="search" class="form-control" id="exampleInputSearch2" placeholder="婚姻" v-model="search.hun"  aria-controls="user-list-table">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div id="user_list_datatable_info3" class="dataTables_filter">
                      <form class="mr-3 position-relative" @submit.prevent="searchGang">
                        <div class="form-group mb-0">
                          <input type="search" class="form-control" id="exampleInputSearch3" placeholder="岗位" v-model="search.gang"  aria-controls="user-list-table">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <table id="user-list-table" class="table table-striped table-bordered mt-4" role="grid"
                       aria-describedby="user-list-page-info">
                  <thead>
                  <tr>
                    <th>员工照片</th>
                    <th>员工编号</th>
                    <th>员工姓名</th>
                    <th>所属部门</th>
                    <th>身份证号</th>
                    <th>性别</th>
                    <th>岗位</th>
                    <th>职称</th>
                    <th>参加工作时间</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(item,index) in employee" :key="index">
                    <td class="text-center"><img class="rounded-circle img-fluid avatar-40"
                                                 src="images/user/01.jpg" alt="profile"></td>
                    <td>{{item.yno}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.f_bname}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.sex}}</td>
                    <td>{{item.gangWei}}</td>
                    <td><span class="badge iq-bg-primary">{{item.zhiCheng}}</span></td>
                    <td>{{item.workDate}}</td>
                    <td>
                      <div class="bootstrap-modal">
                        <div class="flex align-items-center list-user-action">
                          <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top"
                             title="" data-original-title="详细信息" @click="redirectToUser(item.yno)"><i
                                  class="ri-user-add-line"></i></a>

                          <a class="iq-bg-primary" title="" data-original-title="修改" data-toggle="modal" data-target="#updateModal"><i
                                  class="ri-pencil-line"></i></a>
                          <div class="modal fade col-lg-12" id="updateModal">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">修改员工信息</h5>
                                  <button type="button" class="close"
                                          data-dismiss="modal"><span>&times;</span>
                                  </button>
                                </div>

                                <div class="modal-body">
                                  <section>
                                    <div>
                                      <form>
                                        <div class="form-group row align-items-center">
                                          <div class="col-md-12">
                                            <div class="profile-img-edit">
                                              <img class="profile-pic"
                                                   src="images/user/11.png"
                                                   alt="profile-pic">
                                              <div class="p-image">
                                                <i class="ri-pencil-line upload-button"></i>
                                                <input class="file-upload"
                                                       type="file"
                                                       accept="image/*"/>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class=" row align-items-center">
                                          <div class="form-group col-sm-6">
                                            <label for="qname">员工编号:</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="qname"
                                                   value="A001" v-model="emp.yno">
                                          </div>
                                          <div class="form-group col-sm-6">
                                            <label for="pname">员工姓名:</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="pname"
                                                   value="李白" v-model="emp.name">
                                          </div>
                                          <div class="form-group col-sm-6">
                                            <label for="kname">部门编号:</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="kname"
                                                   value="A1001" v-model="emp.bno">
                                          </div>
                                          <div class="form-group col-sm-6">
                                            <label for="jkname">身份证号:</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="jkname"
                                                   value="15040320020321512323" v-model="emp.id">
                                          </div>
                                          <div class="form-group col-sm-6">
                                            <label class="d-block">性别:</label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                              <input type="radio"
                                                     id="ustomRadio6"
                                                     name="customRadio1"
                                                     class="custom-control-input"
                                                     checked="" value="男" v-model="emp.sex">
                                              <label class="custom-control-label"
                                                     for="ustomRadio6" >
                                                男</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                              <input type="radio"
                                                     id="ustomRadio7"
                                                     name="customRadio1"
                                                     class="custom-control-input" value="女" v-model="emp.sex">
                                              <label class="custom-control-label"
                                                     for="ustomRadio7">
                                                女</label>
                                            </div>
                                          </div>
                                          <div class="form-group col-sm-6">
                                            <label for="vame">岗位:</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="vame"
                                                   value="经理" v-model="emp.gangWei">
                                          </div>
                                          <div class="form-group col-sm-6">
                                            <label for="xame">职称:</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="xame"
                                                   value="高级设计师" v-model="emp.zhiCheng">
                                          </div>
                                          <div class="form-group col-sm-6">
                                            <label for="db">参加工作时间:</label>
                                            <input class="form-control"
                                                   id="db"
                                                   value="1984-01-24" v-model="emp.workDate">
                                          </div>
                                        </div>

                                      </form>
                                    </div>
                                  </section>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary"
                                          data-dismiss="modal">关闭
                                  </button>
                                  <button type="button" class="btn btn-primary" @click="updateEmployee(item.yno)">保存
                                  </button>
                                </div>
                              </div>

                            </div>
                          </div>
                          <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top"
                             title="" data-original-title="删除" @click="deleteEmployee(item.yno)"><i
                                  class="ri-delete-bin-line"></i></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row justify-content-between mt-3">
                <div id="user-list-page-info" class="col-md-6">
                  <span>Showing 1 to 5 of 5 entries</span>
                </div>
                <div class="col-md-6">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end mb-0">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                      </li>
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<div th:replace="~{commons/commons::footer}"></div>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<div th:replace="~{commons/commons::js}"></div>

<script>
  new Vue({
    el: "#employ",
    mounted() {
    },
    data() {
      return {
        search:{
          hun:'',
          xue:'',
          gang:''
        },
        emp: {
          yno: '',
          bno: '',
          f_bname: '',
          id: '',
          name: '',
          sex: '',
          gangWei: '',
          zhiCheng: '',
          workDate: '',
          ynos:''
        },
        employee: {
          yno: '',
          bno: '',
          f_bname: '',
          id: '',
          name: '',
          sex: '',
          gangWei: '',
          zhiCheng: '',
          workDate: '',
          ynos:''
        }
      }
    },
    methods: {
      updateEmployee(yno) {
        this.emp.ynos = yno;
        axios({
          method: "post",
          url: "http://localhost:8080/employee/update",
          data: this.emp
        }).then(resp => {
          if (resp.data === "success" ){
            alert("修改成功");
            this.getEmployee();
          } else {
            alert("修改失败");
          }
        })
      },
      deleteEmployee(yno) {
        this.employee.yno = yno;
        axios({
          method: "post",
          url: "http://localhost:8080/employee/delete?yno=" + yno,
          data: this.employee
        }).then(resp => {
          if (resp.data === "success" ){
            alert("删除成功");
            this.getEmployee();
          } else {
            alert("删除失败");
          }
        })
      },
      redirectToUser(yno){
        axios({
          method: "post",
          url: "http://localhost:8080/employee/redirect/?yno=" + yno,
          data: this.employee
        }).then(resp => {
          if (resp.data === "success"){
            window.location.href="http://localhost:8080/viewEmployee?yno="+yno;
          } else {
            alert("跳转失败");
          }
        })
      },
      searchXue() {
        axios({
          method: "post",
          url: "http://localhost:8080/employee/searchXue?xueli=" + this.search.xue,
          data: this.search
        }).then(resp => {
          this.employee = resp.data;
        })
      },
      searchHun() {
        axios({
          method: "post",
          url: "http://localhost:8080/employee/searchHun?hunyin=" + this.search.hun,
          data: this.search
        }).then(resp => {
          this.employee = resp.data;
        })
      },
      searchGang() {
        axios({
          method: "post",
          url: "http://localhost:8080/employee/searchGang?gangwei=" + this.search.gang,
          data: this.search
        }).then(resp => {
          this.employee = resp.data;
        })
      },
    }
  })
</script>
</body>
</html>